RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.hesapasistanim\.com$ [NC]
RewriteRule ^(.*)$ https://hesapasistanim.com/$1 [R=301,L]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://hesapasistanim.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([a-z-]+)$ $1.html [L]
